.btn-elim1{
    display: none;
}

.btn-agr1{
    display: block;
}

/*******Pelicula 2 Botones*****************/
.btn-elim2{
    display: none;
}

.btn-agr2{
    display: block;
}

/*******Pelicula 3 Botones*****************/
.btn-elim3{
    display: none;
}

.btn-agr3{
    display: block;
}

/*******Pelicula 4 Botones*****************/
.btn-elim4{
    display: none;
}

.btn-agr4{
    display: block;
}

/*******Pelicula 5 Botones*****************/
.btn-elim5{
    display: none;
}

.btn-agr5{
    display: block;
}

/*******Pelicula 6 Botones*****************/
.btn-elim6{
    display: none;
}

.btn-agr6{
    display: block;
}

/*******Pelicula 7 Botones*****************/
.btn-elim7{
    display: none;
}

.btn-agr7{
    display: block;
}

/*******Pelicula 8 Botones*****************/
.btn-elim8{
    display: none;
}

.btn-agr8{
    display: block;
}

/*******Pelicula 9 Botones*****************/
.btn-elim9{
    display: none;
}

.btn-agr9{
    display: block;
}

/*******Pelicula 10 Botones*****************/
.btn-elim10{
    display: none;
}

.btn-agr10{
    display: block;
}