
#contenedorTop10{
    display: none;
}


#titulo2{
    text-align: center;
}

#botonMiLista{
    margin-left: 700px;
}

html {
    scroll-behavior: smooth;
    
}

.divContenedorCards {
    
    
    background: linear-gradient(to bottom, #9a99b9, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}

.card-pelicula {
    background-color:#0d33af40;
    border: solid 3px #000000;
    margin: 10px;
    padding: 10px;
    box-shadow: 1px 2px 15px 0 black;
    border-radius: 10px;
    
}

#galeriaPelis {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    max-width: 1420px;
    margin: 0 auto;
    
}

.botonClass {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.pepe {
    color: white;
    width: 80%;
    margin: 5px 0;
    background-color: #0d33af;
    border: solid 2px #000000;
    border-radius: 15px;
    
}

.swal-overlay {
    background-color: black;
    
    }

    .swal-footer {
        background-color: rgb(245, 248, 250);
        margin-top: 32px;
        border-top: 1px solid #E9EEF1;
        overflow: hidden;
    }

    .swal-button {
        padding: 7px 19px;
        border-radius: 2px;
        background-color: #4962B3;
        font-size: 12px;
        border: 1px solid #3e549a;
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
        
    }

    .cardPelicula img{
        display: inline;
    }



/*Barra nav*/
.navbar-principal{
    display: flex;
    justify-content: space-around;
    height: 55px;
    background-color: hsl(244, 86%, 11%);
    color: white;
    font-size: 40px;
    position: sticky;
    top: 0;
    padding: 5px;
    z-index: 1;
}

.navbar{
    height: 55px;
    background-color: hsl(244, 86%, 11%);
    color: white;
    font-size: 40px;
    position: sticky;
    top: 0;
    padding: 5px;
    z-index: 1;
}

/*Textos en la barra nav*/
nav p{
    float: right;
    margin-right: 30px;
    font-size: 32px;
    padding:5px;
}


/*Hipervinculos en el nav*/
nav a{
    text-decoration: none;
    color: white;
}

/*Portada de la pagina*/
.contenedor{
    border-bottom: 5px solid black;
    width: 100%;
    height: 100vh;
    background-image: url(Imagenes/imagenPortadaInicio.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    
    background-attachment: fixed ;
}

/*Bienvenido (pagina de inicio)*/
.titulo_inicio{
    
    position: absolute;
    margin-top: 200px;
    padding: 0px 0px 0px 75px;
    color: #ffff;
    font-size: 100px;
    font-family: 'Monoton', cursive;;
    text-shadow: 10px 10px 25px  blue ;

}

/*Texto debajo de "Bienvenido" */
.sub_texto{

    position: absolute;
    color: #ffff;
    margin-top: 345px;
    margin-left: 75px;
    font-size: 25px;

}

/******Lista de precios*********/
.contenedorDePrecios{
    color: white;
    margin-left: 75vh;
    
}

span{
    color: black;
}


/******Contenedor Top 10********/
.listaOrdenada{
    color: black;
}

.contTop10{
    margin-left: 0;
    
}

.cmagenes{
    margin-bottom: 10px;
    display: block;
    
}

.imgPeli{
    
    height: 330px;
    width: 220px;

}

.btn-cSoon{
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: white;
    background-color: #0d33af;
    border: solid 2px #000000;
    border-radius: 15px;
    padding: 5px;
}

.listaImagenes a{
    text-decoration: none;

}

.listaImagenes{
    margin-right: 10px;
    background-color:#0d33af40;
    border: solid 3px #000000;
    margin: 10px;
    padding: 10px;
    box-shadow: 1px 2px 15px 0 black;
    margin-bottom: 40px;
    border-radius: 10px;
}

#botonTop10{
    margin-left: 48%;
}

button {
    cursor: pointer;
}

ul {
    margin: 0;
    display: flex;
    overflow-x: scroll;
    list-style: none;
}

.scrollPelis{
    text-align: center;
}
/**********Boton subir.***********************/

#btn-subir{
    margin-left: 85%;
    margin-bottom: 1px;
}

.bodyFondo{
    
    background: linear-gradient(to bottom, #9a99b9, #2b5876);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}


/*Todo*/
*{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    
}



